{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid first-element">
          <br>
   <div class="row">
      <div class="col">

        {% if has_user_posts %}
                <div class="text-center"><h4>User Updates</h4></div>
                {% for post in user_posts %}
                  {% if post.type == "volunteer" %}
                  <p><a href="/profile/{{post.author.username}}"><img src="{{ post.author.profile.picture.url }}", class="avatar"></a>{{post.author}} pledged to attend <a href="/agencyProfile/{{ post.agency_profile }}">{{ post.agency_name }}'s'</a> volunteering event for <a href="/cause/{{ post.cause_profile }}">{{ post.cause_name }}</a> happening on {{post.date_posted}}</p>

                  {% else %}
                  <p><a href="/profile/{{post.author.username}}"><img src="{{ post.author.profile.picture.url }}", class="avatar"></a>{{post.author}} donated to help <a href="/agencyProfile/{{ post.agency_profile }}">{{ post.agency_name }}</a> on {{post.date_posted}}</p>

                  {% endif %}
                {% endfor %}
        {% endif %}
    </div>
    <div class="col">
      {% if has_agency_posts %}
        <div class="text-center"><h4>Agency Updates</h4></div>
        {% for post in agency_posts %}
          {% if post.type == "agency pledge" %}
          <p><a href="/agencyProfile/{{post.author.username}}"><img src="{{post.author.picture.url }}", class="avatar"></a> <a href="/agencyProfile/{{ post.agency_profile }}">  {{ post.agency_name }}</a> pledged their support for <a href="/cause/{{ post.cause_profile }}">{{ post.cause_name }}</a> on {{post.date_posted}}</p>

          {% elif post.type == "agency add request" %}
          <p><a href="/agencyProfile/{{post.author.username}}"><img src="{{post.author.picture.url }}", class="avatar"></a> <a href="/agencyProfile/{{ post.agency_profile }}">  {{ post.agency_name }}</a> made a request for <a href = "{% url 'agencyRequestedDonations' post.author.username %}">donations</a> to support <a href="/cause/{{ post.cause_profile }}">{{ post.cause_name }}</a> on {{post.date_posted}}</p>
          {% elif post.type == "agency add volunteer request" %}
          <p><a href="/agencyProfile/{{post.author.username}}"><img src="{{post.author.picture.url }}", class="avatar"></a> <a href="/agencyProfile/{{ post.agency_profile }}">  {{ post.agency_name }}</a> made a request for <a href = "{% url 'agencyRequestedVolunteers' post.author.username %}">volunteers</a> to support <a href="/cause/{{ post.cause_profile }}">{{ post.cause_name }}</a> on {{post.date_posted}}</p>
          {% elif post.type == "agency complete donation" %}
          <p><a href="/agencyProfile/{{post.author.username}}"><img src="{{post.author.picture.url }}", class="avatar"></a> <a href="/agencyProfile/{{ post.agency_profile }}">  {{ post.agency_name }}</a> successfully fulfilled one of their donation requests to support <a href="/cause/{{ post.cause_profile }}">{{ post.cause_name }}</a> on {{post.date_posted}}</p>
          {% elif post.type == "agency complete volunteer" %}
          <p><a href="/agencyProfile/{{post.author.username}}"><img src="{{post.author.picture.url }}", class="avatar"></a> <a href="/agencyProfile/{{ post.agency_profile }}">  {{ post.agency_name }}</a> successfully fulfilled one of their volunteer requests to support <a href="/cause/{{ post.cause_profile }}">{{ post.cause_name }}</a> on {{post.date_posted}}</p>

          {% endif %}
        {% endfor %}
      {% endif %}
      </div>

</div>
</div>
{% endblock %}
